<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-links">
          {% for profile_hash in site.data.social-profiles %}
            {% assign profile = profile_hash[1] %}
            {% if profile.show %}
            <li>
              <a href="{{ profile.url }}" target="_blank" rel="noopener" class="icon-link">
                <span class="icon-desc">{{ profile.name }}</span>
                <br/>
                <i class="fa fa-{{ profile_hash[0] }} fa-3x icon"></i>
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="footer-col">
        <span class="post-meta">PGP <a href="{{ site.pgp.url }}" target="_blank" rel="noopener"><code>{{ site.pgp.fingerprint }}</code></a></span>
      </div>
      <div class="footer-col">
        <span class="post-meta">Copyright &#169; {{ site.time | date: '%Y' }} • {{ site.profile.name }}</span>
      </div>
    </div>
  </div>
</footer>
