<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {% for social_hash in site.data.social %}
        {% assign s = social_hash[1] %}
          {% if s.active %}
          <a href="{{ s.url }}" target="_blank" class="icon-link">
            <span class="icon icon-{{ s.name }}">
              <svg viewBox="{{ s.svg.viewBox }}">
                {% for path in s.svg.paths %}
                <path fill="#828282" d="{{ path }}" />
                {% endfor %}
              </svg>
            </span>
          </a>
          {% endif %}
        {% endfor %}
        <br/><br/>
      </div>
      <div class="footer-col">
        <span class="post-meta">Copyright &#169; 2015 • {{ site.title }}</span>
      </div>
    </div>
  </div>
</footer>
