<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-links">
          {% for profile_hash in site.data.social-profiles %}
            {% assign profile = profile_hash[1] %}
            <li>
              <a href="{{ profile.url }}" target="_blank" class="icon-link">
                <span class="icon-desc">{{ profile.name }}</span>
                <br/>
                <i class="fa fa-{{ profile_hash[0] }} fa-3x icon"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-col">
        <span class="post-meta">Copyright &#169; 2015 • {{ site.profile.name }}</span>
      </div>
    </div>
  </div>
</footer>
