---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title"><a href="{{ page.url }}" itemprop="name">{{ page.title }}</a></h1>
    <p class="post-meta">
      <i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y %H:%M" }} {% if page.author %} • {{ page.author }} {% endif %} {% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <article class="post-content" itemscope itemtype="http://schema.org/Article">

    <meta itemprop="about" content="{{ page.excerpt | replace:'"',"&quot;" }}" />
    <meta itemprop="description" content="{{ page.excerpt | replace:'"',"&quot;" }}" />
    <meta itemprop="author" content="{{ site.author }}" />
    <meta itemprop="copyrightHolder" content="{{ site.title }}" />
    <meta itemprop="copyrightYear" content="{{ page.date | date: '%Y' }}" />
    <meta itemprop="datePublished" content="{{ page.date | date: '%F' }}" />
    <meta itemprop="discussionUrl" content="{{ site.url }}{{ page.url }}" />
    {% if page.image %}
      <meta itemprop="image" content="{{ page.image }}" />
    {% else %}
      <meta itemprop="image" content="{{ site.default_image }}" />
    {% endif %}

    <div itemprop="articleBody">
      {{ content }}
    </div>
  </article>

  <div class="post-footer">
    <p><a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}">Help improve this content</a>.</p>
  </div>

  {% if site.related_posts.size > 0 %}
  <div id="related">
    <h2>Related Posts</h2>
    <ul class="post-content">
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date: "%-d %b %Y" }}</span> &middot; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div>
